@-webkit-keyframes tickUp {
  0%   { 
  	background-color: none; 
  }
  50%  { 
  	background-color: #366b9c; 
  }
  100% { 
  	background-color: none;
  }
}
@-moz-keyframes tickUp {
  0%   { 
  	background-color: none;
  }
  50%  { 
  	background-color: #366b9c; 
  }
  100% { 
  	background-color: none;
  }
}
@-o-keyframes tickUp {
  0%   { 
  	background-color: none;
  }
  50%  { 
  	background-color: #366b9c; 
  }
  100% { 
  	background-color: none; 
  }
}
@keyframes tickUp {
  0%   { 
  	background-color: none; 
  }
  50%  { 
  	background-color: #366b9c; 
  }
  100% { 
  	background-color: none; 
  }
}
.up{    
    background-image:none !important;
    -webkit-animation: tickUp 0.75s ease-in-out; 
       -moz-animation: tickUp 0.75s ease-in-out; 
         -o-animation: tickUp 0.75s ease-in-out; 
            animation: tickUp 0.75s ease-in-out; 
}


@-webkit-keyframes tickDown {
  0%   { 
  	background-color: none; 
  }
  50%  { 
  	background-color: #639b4c; 
  }
  100% { 
  	background-color: none;
  }
}
@-moz-keyframes tickDown {
  0%   { 
  	background-color: none;
  }
  50%  { 
  	background-color: #639b4c; 
  }
  100% { 
  	background-color: none;
  }
}
@-o-keyframes tickDown {
  0%   { 
  	background-color: none;
  }
  50%  { 
  	background-color: #639b4c; 
  }
  100% { 
  	background-color: none; 
  }
}
@keyframes tickDown {
  0%   { 
  	background-color: none; 
  }
  50%  { 
  	background-color: #639b4c; 
  }
  100% { 
  	background-color: none; 
  }
}
.down{    
    background-image:none !important;
    -webkit-animation: tickDown 0.75s ease-in-out; 
       -moz-animation: tickDown 0.75s ease-in-out; 
         -o-animation: tickDown 0.75s ease-in-out; 
            animation: tickDown 0.75s ease-in-out; 
}

#tickergrid table {
  max-width: 650px;
  margin:15px;
}

#tickergrid table th {
  text-align: left;
}

