@-webkit-keyframes tickUp {
  0%   { 
  	background-color: #505d6b; 
  }
  50%  { 
  	background-color: #366b9c; 
  }
  100% { 
  	background-color: #505d6b;
  }
}
@-moz-keyframes tickUp {
  0%   { 
  	background-color: #505d6b;
  }
  50%  { 
  	background-color: #366b9c; 
  }
  100% { 
  	background-color: #505d6b;
  }
}
@-o-keyframes tickUp {
  0%   { 
  	background-color: #505d6b;
  }
  50%  { 
  	background-color: #366b9c; 
  }
  100% { 
  	background-color: #505d6b; 
  }
}
@keyframes tickUp {
  0%   { 
  	background-color: #505d6b; 
  }
  50%  { 
  	background-color: #366b9c; 
  }
  100% { 
  	background-color: #505d6b; 
  }
}
.up{    
    background-image:none !important;
    -webkit-animation: tickUp 0.5s ease-in-out; 
       -moz-animation: tickUp 0.5s ease-in-out; 
         -o-animation: tickUp 0.5s ease-in-out; 
            animation: tickUp 0.5s ease-in-out; 
}


@-webkit-keyframes tickDown {
  0%   { 
  	background-color: #505d6b; 
  }
  50%  { 
  	background-color: #639b4c; 
  }
  100% { 
  	background-color: #505d6b;
  }
}
@-moz-keyframes tickDown {
  0%   { 
  	background-color: #505d6b;
  }
  50%  { 
  	background-color: #639b4c; 
  }
  100% { 
  	background-color: #505d6b;
  }
}
@-o-keyframes tickDown {
  0%   { 
  	background-color: #505d6b;
  }
  50%  { 
  	background-color: #639b4c; 
  }
  100% { 
  	background-color: #505d6b; 
  }
}
@keyframes tickDown {
  0%   { 
  	background-color: #505d6b; 
  }
  50%  { 
  	background-color: #639b4c; 
  }
  100% { 
  	background-color: #505d6b; 
  }
}
.down{    
    background-image:none !important;
    -webkit-animation: tickDown 0.5s ease-in-out; 
       -moz-animation: tickDown 0.5s ease-in-out; 
         -o-animation: tickDown 0.5s ease-in-out; 
            animation: tickDown 0.5s ease-in-out; 
}

#tickergrid table {
  max-width: 650px;
  margin:15px;
}

